<nav class="navbar">
  <div class="container">
    <a class="logo" routerLink="/">MyApp</a>

    <!-- Hamburger Menu -->
    <div class="menu-toggle" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- Navigation Links -->
    <ul class="nav-links" [class.active]="menuOpen">
      <li><a routerLink="/pages/login" routerLinkActive="active">login</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </div>
</nav>
